*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/composeApp/release/
/composeApp/google-services.json
/composeApp/src/main/assets
/composeApp/**/build/
/composeApp/shared/build/
/.kotlin/

# iOS/CocoaPods and Xcode user data
/iosApp/Pods/
/iosApp/build/
/iosApp/iosApp.xcworkspace/xcuserdata/
/iosApp/Pods/Pods.xcodeproj/xcuserdata/

# Kotlin/Native and KMP intermediates
**/*.klib
**/.konan/

# Generated frameworks
composeApp/shared/build/bin/**/pod*Framework/**
