# IntelliJ / Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
node_modules/
.firebase/
tmp/
output/
functions@
er.email

# Build outputs
/build
**/build/
**/out/
.externalNativeBuild
.cxx

# Local config files
local.properties

# Android-specific
/captures
/composeApp/release/
/composeApp/shared/release/
/composeApp/google-services.json
/composeApp/shared/google-services.json
/composeApp/shared/src/google-services.json
/composeApp/src/main/assets

# iOS-specific
/iosApp/GoogleService-Info.plist
/iosApp/Pods/
/iosApp/build/
/iosApp/iosApp.xcodeproj/xcuserdata/
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/
/iosApp/iosApp.xcworkspace/xcuserdata/
/iosApp/Pods/Pods.xcodeproj/xcuserdata/
*.xcuserstate
*.xcarchive/
*.dSYM/

# KMM shared outputs
composeApp/shared/build/

# Kotlin/Native caches and intermediates
.kotlin/
**/.konan/
**/*.klib

# Generated frameworks (CocoaPods + KMP)
composeApp/shared/build/bin/**/pod*Framework/**

# Xcode derived data
**/DerivedData/
iosApp/Pods
